<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%5p][%t][%d{HH:mm:ss:SSS}][%F:%L][%M] %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.aqua.struct" level="error">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>